<nav class="sidebar">
  <ul>
    <li routerLink="/dashboard" routerLinkActive="active">📊 Dashboard</li>
    <li routerLink="/animal" routerLinkActive="active">
      🥛 Animal 
    </li>
    <li routerLink="/feed" routerLinkActive="active">
      🌾 Feed 
    </li>
    <li routerLink="/milk" routerLinkActive="active">🐃 Milk </li>
    <li routerLink="/employee" routerLinkActive="active">
      📄 Employee
    </li>
    <li routerLink="/health" routerLinkActive="active">
      📄 Health 
    </li>
    <li routerLink="/finance" routerLinkActive="active">
      📄 Finance 
    </li>
  </ul>
</nav>
