body.dark-theme {
  background-color: #121212;
  color: #fff;
}

body.dark-theme .mat-card {
  background-color: #1e1e1e;
  color: #fff;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* ✅ prevents body scroll */
  font-family: 'Segoe UI', sans-serif;
}
